*{
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    font-family: 'open sans', sans-serif;
  }
  
  nav {
    background-color: #121481;
    padding: 5px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    font-weight: bold;
  }
  
  nav li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
  }
  
  footer {
    background-color: #121481;
    padding: 15px;
    color: white;
    text-align: center;
  }
  
  main {
    overflow: auto;
    padding: 15px;
  }
  
  h2, h3 {
    color: #153448;
  }
  
  aside {
    text-align: center;
    width: 24%;
    float: left;
  }
  
  .heading {
    background-color: #00215E;
    font-size: 20px;
    padding: 50px;
    text-align: center;
    color: white;
  }
  
  .card {
    border-radius: 5px;
    padding: 15px;
    box-shadow:0 4px 8px 0 gainsboro;
  }
  
  .card a {
    text-decoration: none;
    color: black;
  }

  .content {
    width: 75%;
    float: right;
  }
  
  .textbold {
    font-weight: bold;
  }
  
  .label {
    background-color: #153448;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .fictur_img {
    border-radius: 50%;
    width: 120px;
    height: auto;
  }
  
  @media screen and (max-width: 922px) {
    .content, aside {
        width: 100%;
    }

  }